*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

body {
    font-family:Arial, Helvetica, sans-serif;
    min-height: 100vh;
    color:white;
}
 .wrapper {
    background-color: pink;
    padding: 1.5rem 4rem 3rem 4rem;
    width:700px;
    height: 720px;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    position: relative;
    box-shadow: 0 4px 6px;
 }
.quiz-title{
    text-align: center;
    font-size: 2rem;

}
.quiz-score{
    text-align: right;
    font-weight: 650;
    font-size: 1.2rem;
    border: 5px solid
}
.quiz-question{
    font-size: 1.2rem;
    text-align: center;
    line-height:1.3;
    margin-bottom: 2rem;
}
.quiz-question .category{
    font-size: 0.9rem;
    font-weight: 500;
    background-color: lightpink;
    color: black;
    padding: .2rem .4rem;
    border-radius: .2rem;
    margin-top: 0.5rem;
    display: inline-block;
}
.quiz-options {
list-style-type: none;
margin: 1rem 0;
}
.quiz-options li {
    border-radius: .5rem;
    font-weight: 650;
    margin: .7rem;
    padding: .4rem;
    cursor: pointer;
    border: 3px solid grey;
    background-color:gray;
    color:white;
    box-shadow: 0 4px 0 0;

}
.quiz-options li:hover{
    background-color: darkgray;
    color: grey;
    border-color: grey;
    box-shadow: 0 4x 0 0 grey;
}
.quiz-options li:active{
    transform: scale(0.95);
}
 .quiz-foot button{
    border: none;
    border-radius: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.2rem;
    padding: .5rem;
    margin:auto;
    text-transform: uppercase;
    cursor: pointer;
    display:block;
    background-color: grey;
    color:white;
    letter-spacing: 2px;
    box-shadow: 0 4px 0 0

 }
 .quiz-foot button:hover{
    background-color: darkgray;
    box-shadow: 0 4px 0 0;

 }
#start-over {
    display:none;

}
@media(max-width: 678px){
    font-size: 1.6rem

}